NVIDIA_API_KEY=
NVIDIA_NEMOTRON_API_KEY=
LLM_NVIDIA_MODEL=nvidia/nemotron-3-ultra-550b-a55b
OPENROUTER_API_KEY=
LLM_OPENROUTER_MODEL=
LLM_OPENROUTER_MODEL_2=
GEMINI_API_KEY=
LLM_GEMINI_MODEL=
PEXELS_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_ID=